<a href="https://colab.research.google.com/github/koflanovicsk/Szakdolgozat/blob/main/szakdoga_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
player_data = pd.read_csv('all_seasons_playerdata.csv')
shooting = pd.read_csv('1415shooting.txt',header=[1])
adj_shooting = pd.read_csv('1415adj_shooting.txt',header=[1])
advanced = pd.read_csv('1415advanced.txt')
rook_shooting = pd.read_csv('rook_shooting.txt',header=[1])
rook_adj_shooting = pd.read_csv('rook_adj_shooting.txt',header=[1])
rook_advanced = pd.read_csv('rook_advanced.txt')

In [ ]:
only1415 = player_data.loc[player_data['season'] == '2014-15']

only1415

In [ ]:
rookieheight = player_data.loc[(player_data['season'] == '2016-17') & (player_data['draft_year'] == '2015')]
rookieheight

In [ ]:
only1415 = pd.concat([only1415, rookieheight])

only1415

In [ ]:
players = pd.DataFrame(None)
players['Name'] = only1415['player_name']
players['Height'] = only1415['player_height']
players['Weight'] = only1415['player_weight']

players

In [ ]:
players.to_csv('heights.csv')

In [ ]:
shooting

,Rk,Player,Pos,Age,Tm,G,MP,FG%,Dist.,Unnamed: 9,...,Unnamed: 26,%FGA,#,Unnamed: 29,%3PA,3P%,Unnamed: 32,Att.,#.1,-9999
0,1,Quincy Acy,PF,24,NYK,68,1287,0.459,12.4,NaN,...,NaN,0.106,33,NaN,0.383,0.261,NaN,1,0,acyqu01
1,2,Jordan Adams,SG,20,MEM,30,248,0.407,12.5,NaN,...,NaN,0.000,0,NaN,0.360,0.222,NaN,0,0,adamsjo01
2,3,Steven Adams,C,21,OKC,70,1771,0.544,2.9,NaN,...,NaN,0.213,72,NaN,0.000,NaN,NaN,1,0,adamsst01
3,4,Jeff Adrien,PF,28,MIN,17,215,0.432,4.9,NaN,...,NaN,0.068,2,NaN,NaN,NaN,NaN,0,0,adrieje01
4,5,Arron Afflalo,SG,29,TOT,78,2502,0.424,15.9,NaN,...,NaN,0.000,0,NaN,0.387,0.341,NaN,0,0,afflaar01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,488,James Young,SG,19,BOS,31,332,0.353,19.8,NaN,...,NaN,0.020,2,NaN,0.197,0.154,NaN,0,0,youngja01
488,489,Nick Young,SG,29,LAL,42,1000,0.366,18.2,NaN,...,NaN,0.006,2,NaN,0.196,0.455,NaN,2,0,youngni01
489,490,Thaddeus Young,PF,26,TOT,76,2434,0.466,8.1,NaN,...,NaN,0.030,26,NaN,0.165,0.263,NaN,1,0,youngth01
490,491,Cody Zeller,C,22,CHO,62,1487,0.461,8.4,NaN,...,NaN,0.142,48,NaN,0.000,NaN,NaN,0,0,zelleco01
491,492,Tyler Zeller,C,25,BOS,82,1731,0.549,5.3,NaN,...,NaN,0.063,34,NaN,NaN,NaN,NaN,0,0,zellety01

In [ ]:
adj_shooting

,Rk,Player,Pos,Age,Team,G,MP,Unnamed: 7,FG,2P,...,3P+,eFG+,FT+,TS+,FTr+,3PAr+,Unnamed: 25,FG Add,TS Add,-9999
0,1,Quincy Acy,PF,24,NYK,68,1287,NaN,0.459,0.494,...,86.0,98.0,104.0,100.0,107.0,68.0,NaN,-6.3,-1.2,acyqu01
1,2,Jordan Adams,SG,20,MEM,30,248,NaN,0.407,0.410,...,114.0,94.0,81.0,92.0,98.0,108.0,NaN,-5.3,-8.7,adamsjo01
2,3,Steven Adams,C,21,OKC,70,1771,NaN,0.544,0.547,...,NaN,110.0,67.0,103.0,188.0,2.0,NaN,38.3,14.4,adamsst01
3,4,Jeff Adrien,PF,28,MIN,17,215,NaN,0.432,0.432,...,NaN,87.0,77.0,92.0,316.0,NaN,NaN,-5.6,-4.9,adrieje01
4,5,Arron Afflalo,SG,29,TOT,78,2502,NaN,0.424,0.466,...,101.0,99.0,112.0,100.0,82.0,140.0,NaN,-8.7,-2.5,afflaar01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,488,James Young,SG,19,BOS,31,332,NaN,0.353,0.528,...,74.0,88.0,74.0,86.0,104.0,241.0,NaN,-12.2,-17.6,youngja01
488,489,Nick Young,SG,29,LAL,42,1000,NaN,0.366,0.363,...,105.0,91.0,119.0,97.0,114.0,176.0,NaN,-41.1,-15.1,youngni01
489,490,Thaddeus Young,PF,26,TOT,76,2434,NaN,0.466,0.484,...,94.0,98.0,87.0,95.0,76.0,44.0,NaN,-20.0,-57.2,youngth01
490,491,Cody Zeller,C,22,CHO,62,1487,NaN,0.461,0.460,...,286.0,93.0,103.0,99.0,161.0,1.0,NaN,-24.9,-3.6,zelleco01
491,492,Tyler Zeller,C,25,BOS,82,1731,NaN,0.549,0.549,...,NaN,111.0,110.0,111.0,110.0,NaN,NaN,66.1,84.3,zellety01

In [ ]:
advanced

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional
0,1,Quincy Acy,PF,24,NYK,68,1287,11.9,0.533,0.181,...,1.0,0.7,1.7,0.063,NaN,-2.1,-1.0,-3.1,-0.3,acyqu01
1,2,Jordan Adams,SG,20,MEM,30,248,12.8,0.489,0.291,...,0.0,0.4,0.4,0.073,NaN,-1.2,2.6,1.4,0.2,adamsjo01
2,3,Steven Adams,C,21,OKC,70,1771,14.1,0.549,0.005,...,1.9,2.2,4.1,0.111,NaN,-1.5,0.2,-1.3,0.3,adamsst01
3,4,Jeff Adrien,PF,28,MIN,17,215,14.2,0.494,0.000,...,0.2,0.2,0.4,0.087,NaN,-1.9,-0.6,-2.4,0.0,adrieje01
4,5,Arron Afflalo,SG,29,TOT,78,2502,10.7,0.533,0.377,...,1.6,1.0,2.6,0.050,NaN,-1.4,-1.1,-2.5,-0.3,afflaar01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,488,James Young,SG,19,BOS,31,332,8.5,0.457,0.647,...,0.1,0.3,0.3,0.047,NaN,-2.5,-0.9,-3.4,-0.1,youngja01
488,489,Nick Young,SG,29,LAL,42,1000,14.2,0.520,0.473,...,1.1,0.1,1.2,0.058,NaN,0.8,-2.1,-1.3,0.2,youngni01
489,490,Thaddeus Young,PF,26,TOT,76,2434,15.7,0.507,0.119,...,1.6,1.4,3.1,0.061,NaN,0.0,-0.2,-0.1,1.1,youngth01
490,491,Cody Zeller,C,22,CHO,62,1487,14.1,0.530,0.003,...,1.6,2.2,3.8,0.123,NaN,-2.0,1.4,-0.6,0.5,zelleco01
491,492,Tyler Zeller,C,25,BOS,82,1731,18.9,0.594,0.000,...,4.5,2.0,6.5,0.179,NaN,1.0,0.0,0.9,1.3,zellety01

In [ ]:

merge1415 = pd.merge(shooting, adj_shooting, how='inner', on = '-9999')
all1415 = pd.merge(merge1415, advanced, how= 'inner', left_on= '-9999', right_on= 'Player-additional')

all1415

In [ ]:
mergerook = pd.merge(rook_shooting, rook_adj_shooting, how='inner', on = '-9999')
allrook = pd.merge(mergerook, rook_advanced, how= 'inner', left_on= '-9999', right_on= 'Player-additional')

allrook

In [ ]:
all_stats = pd.concat([all1415, allrook], ignore_index=True)

all_stats

In [ ]:
all_stats.to_csv('merged_stats_raw.csv')

In [ ]:
merged_stats = pd.read_csv('merged_stats_raw.csv')
merged_stats.columns

Index(['Unnamed: 0', 'Rk_x', 'Player_x', 'Pos_x', 'Age_x', 'Tm_x', 'G_x',
       'MP_x', 'FG%', 'Dist.', 'Unnamed: 9', '2P_x', '0-3', '3-10', '10-16',
       '16-3P', '3P_x', 'Unnamed: 16_x', '2P.1', '0-3.1', '3-10.1', '10-16.1',
       '16-3P.1', '3P.1', 'Unnamed: 23', '2P.2', '3P.2', 'Unnamed: 26', '%FGA',
       '#', 'Unnamed: 29', '%3PA', '3P%', 'Unnamed: 32', 'Att.', '#.1',
       '-9999', 'Rk_y', 'Player_y', 'Pos_y', 'Age_y', 'Team', 'G_y', 'MP_y',
       'Unnamed: 7', 'FG', '2P_y', '3P_y', 'eFG', 'FT', 'TS', 'FTr_x',
       '3PAr_x', 'Unnamed: 16_y', 'FG+', '2P+', '3P+', 'eFG+', 'FT+', 'TS+',
       'FTr+', '3PAr+', 'Unnamed: 25', 'FG Add', 'TS Add', 'Rk', 'Player',
       'Pos', 'Age', 'Tm_y', 'G', 'MP', 'PER', 'TS%', '3PAr_y', 'FTr_y',
       'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'Player-additional'],
      dtype='object')

In [ ]:
merged_stats['Player_x'] = merged_stats['Player_x'].str.replace('ć','c')
merged_stats['Player_x'] = merged_stats['Player_x'].str.replace('ž','z')
merged_stats['Player_x'] = merged_stats['Player_x'].str.replace('é','e')
merged_stats['Player_x'] = merged_stats['Player_x'].str.replace('ó','o')
merged_stats['Player_x'] = merged_stats['Player_x'].str.replace('á','a')

In [ ]:
#merged_stats.drop(columns = ['Rk_x','Age_x','Tm_x','G_x','MP_x' ])

In [ ]:
height = pd.read_csv('heights.csv')

In [ ]:
all = pd.merge(merged_stats, height, how= 'inner', left_on= 'Player_x', right_on= 'Name')

all

,Unnamed: 0_x,Rk_x,Player_x,Pos_x,Age_x,Tm_x,G_x,MP_x,FG%,Dist.,...,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional,Unnamed: 0_y,Name,Height,Weight
0,0,1,Quincy Acy,PF,24,NYK,68,1287,0.459,12.4,...,NaN,-2.1,-1.0,-3.1,-0.3,acyqu01,8439,Quincy Acy,200.66,108.862080
1,1,2,Jordan Adams,SG,20,MEM,30,248,0.407,12.5,...,NaN,-1.2,2.6,1.4,0.2,adamsjo01,8109,Jordan Adams,195.58,94.800728
2,2,3,Steven Adams,C,21,OKC,70,1771,0.544,2.9,...,NaN,-1.5,0.2,-1.3,0.3,adamsst01,8304,Steven Adams,213.36,115.665960
3,3,4,Jeff Adrien,PF,28,MIN,17,215,0.432,4.9,...,NaN,-1.9,-0.6,-2.4,0.0,adrieje01,8252,Jeff Adrien,201.00,111.000000
4,4,5,Arron Afflalo,SG,29,TOT,78,2502,0.424,15.9,...,NaN,-1.4,-1.1,-2.5,-0.3,afflaar01,8466,Arron Afflalo,195.58,97.522280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,539,437,Myles Turner,C,20,IND,81,2541,0.511,12.0,...,NaN,-0.1,1.1,1.1,2.0,turnemy01,9293,Myles Turner,210.82,110.222856
489,540,446,Rashad Vaughn,SG,20,MIL,41,458,0.365,17.3,...,NaN,-3.2,-0.4,-3.6,-0.2,vaughra01,9316,Rashad Vaughn,198.12,91.625584
490,543,472,Justise Winslow,SF,20,MIA,18,625,0.356,10.6,...,NaN,-4.6,0.8,-3.8,-0.3,winslju01,9281,Justise Winslow,200.66,102.058200
491,545,477,Delon Wright,PG,24,TOR,27,446,0.422,10.3,...,NaN,-0.1,2.1,2.0,0.5,wrighde01,9364,Delon Wright,195.58,86.182480
492,546,479,Joe Young,PG,24,IND,33,135,0.361,16.3,...,NaN,-3.1,-2.1,-5.2,-0.1,youngjo01,9497,Joe Young,187.96,81.646560

In [ ]:
all.to_csv('all.csv')

In [ ]:
features = pd.read_csv("all.csv")
features

,Unnamed: 0,Unnamed: 0_x,Rk_x,Player_x,Pos_x,Age_x,Tm_x,G_x,MP_x,FG%,...,Unnamed: 24,OBPM,DBPM,BPM,VORP,Player-additional,Unnamed: 0_y,Name,Height,Weight
0,0,0,1,Quincy Acy,PF,24,NYK,68,1287,0.459,...,NaN,-2.1,-1.0,-3.1,-0.3,acyqu01,8439,Quincy Acy,200.66,108.862080
1,1,1,2,Jordan Adams,SG,20,MEM,30,248,0.407,...,NaN,-1.2,2.6,1.4,0.2,adamsjo01,8109,Jordan Adams,195.58,94.800728
2,2,2,3,Steven Adams,C,21,OKC,70,1771,0.544,...,NaN,-1.5,0.2,-1.3,0.3,adamsst01,8304,Steven Adams,213.36,115.665960
3,3,3,4,Jeff Adrien,PF,28,MIN,17,215,0.432,...,NaN,-1.9,-0.6,-2.4,0.0,adrieje01,8252,Jeff Adrien,201.00,111.000000
4,4,4,5,Arron Afflalo,SG,29,TOT,78,2502,0.424,...,NaN,-1.4,-1.1,-2.5,-0.3,afflaar01,8466,Arron Afflalo,195.58,97.522280
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
488,488,539,437,Myles Turner,C,20,IND,81,2541,0.511,...,NaN,-0.1,1.1,1.1,2.0,turnemy01,9293,Myles Turner,210.82,110.222856
489,489,540,446,Rashad Vaughn,SG,20,MIL,41,458,0.365,...,NaN,-3.2,-0.4,-3.6,-0.2,vaughra01,9316,Rashad Vaughn,198.12,91.625584
490,490,543,472,Justise Winslow,SF,20,MIA,18,625,0.356,...,NaN,-4.6,0.8,-3.8,-0.3,winslju01,9281,Justise Winslow,200.66,102.058200
491,491,545,477,Delon Wright,PG,24,TOR,27,446,0.422,...,NaN,-0.1,2.1,2.0,0.5,wrighde01,9364,Delon Wright,195.58,86.182480
492,492,546,479,Joe Young,PG,24,IND,33,135,0.361,...,NaN,-3.1,-2.1,-5.2,-0.1,youngjo01,9497,Joe Young,187.96,81.646560

In [ ]:
features.columns

Index(['Unnamed: 0', 'Unnamed: 0_x', 'Rk_x', 'Player_x', 'Pos_x', 'Age_x',
       'Tm_x', 'G_x', 'MP_x', 'FG%', 'Dist.', 'Unnamed: 9', '2P_x', '0-3',
       '3-10', '10-16', '16-3P', '3P_x', 'Unnamed: 16_x', '2P.1', '0-3.1',
       '3-10.1', '10-16.1', '16-3P.1', '3P.1', 'Unnamed: 23', '2P.2', '3P.2',
       'Unnamed: 26', '%FGA', '#', 'Unnamed: 29', '%3PA', '3P%', 'Unnamed: 32',
       'Att.', '#.1', '-9999', 'Rk_y', 'Player_y', 'Pos_y', 'Age_y', 'Team',
       'G_y', 'MP_y', 'Unnamed: 7', 'FG', '2P_y', '3P_y', 'eFG', 'FT', 'TS',
       'FTr_x', '3PAr_x', 'Unnamed: 16_y', 'FG+', '2P+', '3P+', 'eFG+', 'FT+',
       'TS+', 'FTr+', '3PAr+', 'Unnamed: 25', 'FG Add', 'TS Add', 'Rk',
       'Player', 'Pos', 'Age', 'Tm_y', 'G', 'MP', 'PER', 'TS%', '3PAr_y',
       'FTr_y', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP', 'Player-additional', 'Unnamed: 0_y', 'Name',
       'Height', 'Weight'],
      dtype='object')

In [ ]:
cleaned = pd.DataFrame(None)

cleaned['Name'] = features['Player_x']
cleaned['Namecheck'] = features['Player_y']
cleaned['Namecheck2'] = features['Player']
cleaned['Namecheck3'] = features['Name']
cleaned['Position'] = features['Pos_x']
cleaned['Minutes Played'] = features['MP_x']
cleaned['FG%'] = features['FG%']
cleaned['Avg dist'] = features['Dist.']
cleaned['% of shots 2P'] = features['2P_x']
cleaned['% of shots 0-3'] = features['0-3']
cleaned['% of shots 3-10'] = features['3-10']
cleaned['% of shots 10-16'] = features['10-16']
cleaned['% of shots 16-3P'] = features['16-3P']
cleaned['% of shots 3P'] = features['3P_x']
cleaned['FG% from 2P'] = features['2P.1']
cleaned['FG% from 0-3'] = features['0-3.1']
cleaned['FG% from 3-10'] = features['3-10.1']
cleaned['FG% from 10-16'] = features['10-16.1']
cleaned['FG% from 16-3P'] = features['16-3P.1']
cleaned['FG% from 3P'] = features['3P.1']
cleaned['% assisted 2P'] = features['2P.2']
cleaned['% assisted 3P'] = features['3P.2']
cleaned['% of 3P corner'] = features['%3PA']
cleaned['corner 3P %'] = features['3P%']
cleaned['2P%'] = features['2P_y']
cleaned['3P%'] = features['3P_y']
cleaned['FT%'] = features['FT']
cleaned['True Shooting'] = features['TS']
#Third table from here
cleaned['AST%'] = features['AST%']
cleaned['OWS'] = features['OWS']
cleaned['DWS'] = features['DWS']
#cleaned['WS'] = features['WS']
cleaned['WS/48'] = features['WS/48']
cleaned['OBPM'] = features['OBPM']
cleaned['DBPM'] = features['DBPM']
cleaned['Height'] = features['Height']
cleaned['Weight'] = features['Weight']

cleaned.head(5)

,Name,Namecheck,Namecheck2,Namecheck3,Position,Minutes Played,FG%,Avg dist,% of shots 2P,% of shots 0-3,...,FT%,True Shooting,AST%,OWS,DWS,WS/48,OBPM,DBPM,Height,Weight
0,Quincy Acy,Quincy Acy,Quincy Acy,Quincy Acy,PF,1287,0.459,12.4,0.819,0.296,...,0.784,0.533,8.7,1.0,0.7,0.063,-2.1,-1.0,200.66,108.862080
1,Jordan Adams,Jordan Adams,Jordan Adams,Jordan Adams,SG,248,0.407,12.5,0.709,0.291,...,0.609,0.489,10.1,0.0,0.4,0.073,-1.2,2.6,195.58,94.800728
2,Steven Adams,Steven Adams,Steven Adams,Steven Adams,C,1771,0.544,2.9,0.995,0.604,...,0.502,0.549,5.5,1.9,2.2,0.111,-1.5,0.2,213.36,115.665960
3,Jeff Adrien,Jeff Adrien,Jeff Adrien,Jeff Adrien,PF,215,0.432,4.9,1.000,0.523,...,0.579,0.494,10.5,0.2,0.2,0.087,-1.9,-0.6,201.00,111.000000
4,Arron Afflalo,Arron Afflalo,Arron Afflalo,Arron Afflalo,SG,2502,0.424,15.9,0.623,0.124,...,0.843,0.533,8.2,1.6,1.0,0.050,-1.4,-1.1,195.58,97.522280

In [ ]:
cleaned.to_csv('clean_bballref.csv')

**END OF PLAYER DATA**
___________________

**START OF EVENT  DATA**

In [ ]:
#firstgame = pd.read_csv("0021500001.csv")
shots = pd.read_csv("shots.csv")
#shots_f = pd.read_csv("shots_fixed.csv")

#firstgame.head(15)

In [ ]:
shots_f.columns

Index(['ACTION_TYPE', 'EVENTTIME', 'EVENT_TYPE', 'GAME_DATE', 'GAME_EVENT_ID',
       'GAME_ID', 'GRID_TYPE', 'HTM', 'LOC_X', 'LOC_Y', 'MINUTES_REMAINING',
       'PERIOD', 'PLAYER_ID', 'PLAYER_NAME', 'QUARTER', 'SECONDS_REMAINING',
       'SHOT_ATTEMPTED_FLAG', 'SHOT_DISTANCE', 'SHOT_MADE_FLAG', 'SHOT_TIME',
       'SHOT_TYPE', 'SHOT_ZONE_AREA', 'SHOT_ZONE_BASIC', 'SHOT_ZONE_RANGE',
       'TEAM_ID', 'TEAM_NAME', 'VTM'],
      dtype='object')

In [ ]:
shots.columns

Index(['GRID_TYPE', 'GAME_ID', 'GAME_EVENT_ID', 'PLAYER_ID', 'PLAYER_NAME',
       'TEAM_ID', 'TEAM_NAME', 'PERIOD', 'MINUTES_REMAINING',
       'SECONDS_REMAINING', 'EVENT_TYPE', 'ACTION_TYPE', 'SHOT_TYPE',
       'SHOT_ZONE_BASIC', 'SHOT_ZONE_AREA', 'SHOT_ZONE_RANGE', 'SHOT_DISTANCE',
       'LOC_X', 'LOC_Y', 'SHOT_ATTEMPTED_FLAG', 'SHOT_MADE_FLAG', 'GAME_DATE',
       'HTM', 'VTM'],
      dtype='object')

In [ ]:
min(shots['SHOT_DISTANCE'])

0

In [ ]:
shots.head(5)

,GRID_TYPE,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_NAME,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,...,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_ATTEMPTED_FLAG,SHOT_MADE_FLAG,GAME_DATE,HTM,VTM
0,Shot Chart Detail,21500014,20,202083,Wesley Matthews,1610612742,Dallas Mavericks,1,9,4,...,Right Side Center(RC),24+ ft.,24,78,228,1,0,20151028,PHX,DAL
1,Shot Chart Detail,21500014,168,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,11,2,...,Left Side Center(LC),24+ ft.,25,-232,106,1,0,20151028,PHX,DAL
2,Shot Chart Detail,21500014,217,202083,Wesley Matthews,1610612742,Dallas Mavericks,2,8,10,...,Right Side Center(RC),24+ ft.,24,177,174,1,1,20151028,PHX,DAL
3,Shot Chart Detail,21500014,340,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,10,57,...,Right Side Center(RC),24+ ft.,24,222,111,1,1,20151028,PHX,DAL
4,Shot Chart Detail,21500014,358,202083,Wesley Matthews,1610612742,Dallas Mavericks,3,9,33,...,Right Side(R),16-24 ft.,21,182,110,1,0,20151028,PHX,DAL

In [ ]:
filter_shots = shots.drop(columns=['GRID_TYPE','TEAM_NAME','EVENT_TYPE','SHOT_ATTEMPTED_FLAG','GAME_DATE','HTM','VTM'])

filter_shots.head(5)

,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,LOC_X,LOC_Y,SHOT_MADE_FLAG
0,21500014,20,202083,Wesley Matthews,1610612742,1,9,4,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,78,228,0
1,21500014,168,202083,Wesley Matthews,1610612742,2,11,2,Jump Shot,3PT Field Goal,Above the Break 3,Left Side Center(LC),24+ ft.,25,-232,106,0
2,21500014,217,202083,Wesley Matthews,1610612742,2,8,10,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,177,174,1
3,21500014,340,202083,Wesley Matthews,1610612742,3,10,57,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),24+ ft.,24,222,111,1
4,21500014,358,202083,Wesley Matthews,1610612742,3,9,33,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),16-24 ft.,21,182,110,0

In [ ]:
filter_shots.loc[(filter_shots['SHOT_DISTANCE'] < 3) & (filter_shots['SHOT_DISTANCE'] > -1),'SHOT_ZONE_RANGE']= '0-3'
filter_shots.loc[(filter_shots['SHOT_DISTANCE'] < 10) & (filter_shots['SHOT_DISTANCE'] >= 3),'SHOT_ZONE_RANGE']= '3-10'
filter_shots.loc[(filter_shots['SHOT_DISTANCE'] < 16) & (filter_shots['SHOT_DISTANCE'] >= 10),'SHOT_ZONE_RANGE']= '10-16'
filter_shots.loc[(filter_shots['SHOT_DISTANCE'] < 22) & (filter_shots['SHOT_DISTANCE'] >= 16),'SHOT_ZONE_RANGE']= '16-3P'
filter_shots.loc[(filter_shots['SHOT_DISTANCE'] >= 22),'SHOT_ZONE_RANGE']= '3P'

In [ ]:
filter_shots.head(5)

,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,MINUTES_REMAINING,SECONDS_REMAINING,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,SHOT_ZONE_AREA,SHOT_ZONE_RANGE,SHOT_DISTANCE,SHOT_MADE_FLAG
0,21500014,20,202083,Wesley Matthews,1610612742,9,4,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),3P,24,0
1,21500014,168,202083,Wesley Matthews,1610612742,11,2,Jump Shot,3PT Field Goal,Above the Break 3,Left Side Center(LC),3P,25,0
2,21500014,217,202083,Wesley Matthews,1610612742,8,10,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),3P,24,1
3,21500014,340,202083,Wesley Matthews,1610612742,10,57,Jump Shot,3PT Field Goal,Above the Break 3,Right Side Center(RC),3P,24,1
4,21500014,358,202083,Wesley Matthews,1610612742,9,33,Jump Shot,2PT Field Goal,Mid-Range,Right Side(R),16-3P,21,0

In [ ]:
clean_bballref = pd.read_csv('clean_bballref.csv')

In [ ]:
shot_and_stat = filter_shots.merge(clean_bballref, how='left', left_on = 'PLAYER_NAME', right_on= 'Name')

In [ ]:
shot_and_stat.head(5)

,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,MINUTES_REMAINING,SECONDS_REMAINING,ACTION_TYPE,SHOT_TYPE,SHOT_ZONE_BASIC,...,FT%,True Shooting,AST%,OWS,DWS,WS/48,OBPM,DBPM,Height,Weight
0,21500014,20,202083,Wesley Matthews,1610612742,9,4,Jump Shot,3PT Field Goal,Above the Break 3,...,0.752,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024
1,21500014,168,202083,Wesley Matthews,1610612742,11,2,Jump Shot,3PT Field Goal,Above the Break 3,...,0.752,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024
2,21500014,217,202083,Wesley Matthews,1610612742,8,10,Jump Shot,3PT Field Goal,Above the Break 3,...,0.752,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024
3,21500014,340,202083,Wesley Matthews,1610612742,10,57,Jump Shot,3PT Field Goal,Above the Break 3,...,0.752,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024
4,21500014,358,202083,Wesley Matthews,1610612742,9,33,Jump Shot,2PT Field Goal,Mid-Range,...,0.752,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024

In [ ]:
shot_and_stat['MINUTES_REMAINING'] = shot_and_stat['MINUTES_REMAINING']*60
shot_and_stat['SECLEFT'] = shot_and_stat['MINUTES_REMAINING'] + shot_and_stat['SECONDS_REMAINING']

In [ ]:
shot_and_stat.head(5)

,GAME_ID,GAME_EVENT_ID,PLAYER_ID,PLAYER_NAME,TEAM_ID,PERIOD,MINUTES_REMAINING,SECONDS_REMAINING,ACTION_TYPE,SHOT_TYPE,...,True Shooting,AST%,OWS,DWS,WS/48,OBPM,DBPM,Height,Weight,SECLEFT
0,21500014,20,202083,Wesley Matthews,1610612742,1,540,4,Jump Shot,3PT Field Goal,...,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024,544
1,21500014,168,202083,Wesley Matthews,1610612742,2,660,2,Jump Shot,3PT Field Goal,...,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024,662
2,21500014,217,202083,Wesley Matthews,1610612742,2,480,10,Jump Shot,3PT Field Goal,...,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024,490
3,21500014,340,202083,Wesley Matthews,1610612742,3,600,57,Jump Shot,3PT Field Goal,...,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024,657
4,21500014,358,202083,Wesley Matthews,1610612742,3,540,33,Jump Shot,2PT Field Goal,...,0.586,10.8,4.0,2.2,0.147,2.0,1.1,195.58,99.79024,573

In [ ]:
shot_and_stat.to_csv('shot_and_stat.csv')